body {
  background: #eee;
  //background: black;
}

$sidebarWidth: 110px;
$headerThumbSize: 60px;
$headerContentThumbSize: 42px;

.sidebar {
  position: fixed;
  background: #222222;
  width: $sidebarWidth;
  top: 0px;
  bottom: 0px;
  .header {
    background: #1D1D1D;
    padding: 20px 0px;
    img {
      width: $headerThumbSize;
      height: $headerThumbSize;
      border-radius: 50%;
      border: 3px solid white;
      margin: 0px auto;
      display: block;
    }
  }
  .sidebar-content {
    ul {
      padding: 0px;
      margin: 13px 0px;
      list-style: none;
      li {
        a {
          padding: 13px 0px;
          display: block;
          img {
            width: $headerContentThumbSize;
            height: $headerContentThumbSize;
            border-radius: 50%;
            //border: 3px solid white;
            box-shadow: 0px 0px 0px 3px white;
            margin: 0px auto;
            display: block;
            @include transition(all .3s ease-in-out);
          }
          &:hover {
            img {
              box-shadow: 0px 0px 0px 3px white, 0px 0px 0px 12px #333;
            }
          }
        }
      }
    }
  }
}

.page-content {
  margin-left: $sidebarWidth;
  header {
    background: white;
    border-bottom: 1px solid #ddd;
    height: 100px;
    padding: 20px;
    line-height: 60px;
  }
}